CompileFlags:
  Add:
    - -Wsign-compare
    - -Wunreachable-code
    - -DNDEBUG
    - -g
    - -O3
    - -Wall
    - -fPIC
    - -Ixla
    - -Ipybind11/include
    - -Isuitesparse/SuiteSparse_config
    - -Isuitesparse/AMD/Include
    - -Isuitesparse/COLAMD/Include
    - -Isuitesparse/BTF/Include
    - -Isuitesparse/KLU/Include
    - -I.venv/include
    - -I/home/flaport/.local/share/uv/python/cpython-3.12.6-linux-x86_64-gnu/include/python3.12
